@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,500;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jersey+25&family=Open+Sans:ital,wght@0,500;1,500&display=swap');


div.glass-cont{
    justify-content: right;
    width: 1350px;
}


div.glass-cont div.Description1Div{
    display: inline-block;
    margin-left: 30px;
    margin-top: 230px;
    margin-bottom: 100px;
    padding: 96px 65px;
    font-family: Open Sans, sans-serif;
    border-radius: 16px;
    width: 950px;
    background-color: #fff;
}

div.glass-cont div.Description1Div div{
    display: grid;
    padding-top: 10px;

}

div.glass-cont div.Description1Div h1{
    color: #C22D1F;
    font-size: 23px;
    margin-left: 25px;
    padding-bottom: 30px;
    font-synthesis: none;
}

div.glass-cont div.Description1Div div label{
    font-size: 15px;
    color: #1fb4c2;
}

div.glass-cont div.Description1Div div input{
    padding: 8px 8px 8px 8px;
    max-width: 250px;
    font-size: 14px;
}

div.glass-cont div.Description1Div button{
    font-size: 16px;
    margin-top: 30px;
    margin-left: 50px;
    padding: 12px 50px 12px 50px;
    border: 2px solid #18a4b1;
    background-color: whitesmoke;
    color: #1fb4c2;
    border-radius: 10%;
    letter-spacing: 2px;
    border-radius: 24px;
    transition: background-color 0.3s;
    display: inline-flex;
}

div.glass-cont div.Description1Div button:hover{
    background-color: #1fb4c2;
    border-color: #1fb4c2;
    color: white;
}

div.glass-cont div.Description1Div button.forgot{
    font-size: 14px;
    margin-top: 10px;
    margin-left: 0px;
    border: none;
    /*background-color: whitesmoke;*/
    color: #1fb4c2;
    letter-spacing: 1px;
    padding: 0%;
}

div.glass-cont div.Description1Div button.forgot:hover{
    color: #0a6c75;
}
