@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,500;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jersey+25&family=Open+Sans:ital,wght@0,500;1,500&display=swap');

div.glass-cont {
    display: flex;
    justify-content: left; /* Align the container to the left */
    margin: 0 200px;
}

    div.glass-cont div.Description1Div {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 220px;
        padding: 40px;
        font-family: Open Sans, sans-serif;
        border-radius: 16px;
        background-color: #fff;
        box-shadow: 0 4px 12px #0000001a;
        max-height: 300px;
    }

        div.glass-cont div.Description1Div img {
            max-width: 150px; /* Reduce the image size */
            margin-right: 20px; /* Add space between the image and text */
            border-radius: 10px; /* Optional: round image corners */
        }

        div.glass-cont div.Description1Div p {
            font-size: 14px; /* Make the text smaller */
            line-height: 1.5; 
            color: #333; 
            margin: 0; 
        }

        div.glass-cont div.Description1Div h1 {
            color: #C22D1F;
            font-size: 20px; /* Reduce the header size */
            margin-bottom: 20px; /* Adjust the space below the header */
            font-synthesis: none;
        }

        div.glass-cont div.Description1Div button {
            font-size: 14px; /* Make button text smaller */
            margin-top: 20px;
            padding: 10px 30px; /* Adjust button padding */
            border: 2px solid #18a4b1;
            background-color: whitesmoke;
            color: #1fb4c2;
            border-radius: 24px;
            transition: background-color 0.3s;
        }

            div.glass-cont div.Description1Div button:hover {
                background-color: #1fb4c2;
                border-color: #1fb4c2;
                color: white;
            }

.fire-effect {
    display: inline-block;
    position: relative;
    font-family: 'sans-serif';
    font-size: 30px; /* Reduce the flame text size */
    color: #ff5722;
    animation: flicker 2s infinite;
}

@keyframes flicker {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.8;
    }

    100% {
        opacity: 1;
    }
}
