.create-job-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 30px;
}

    .create-job-container h2 {
        color: #1fb4c2;
        margin-bottom: 20px;
        text-align: center;
    }

.create-job-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-field {
    display: flex;
    flex-direction: column;
}

    .form-field label {
        margin-bottom: 5px;
        font-weight: bold;
        color: #1fb4c2;
    }

    .form-field input,
    .form-field textarea,
    .form-field .p-dropdown {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 14px;
    }

    .form-field textarea {
        resize: vertical;
    }

.create-job-button {
    background-color: #0077B5;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

    .create-job-button:hover {
        background-color: #1FB4E0;
    }

    .create-job-button {
        background-color: #1fb4c2;
    }
    
    .my-jobs-button {
    background-color: #0077B5;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 30px;
    transition: background-color 0.3s ease;
}

        .my-jobs-button:hover {
            background-color: #1FB4E0;
        }

.my-jobs-button {
    background-color: #1fb4c2;
}

.success-message-job {
    width: 100%;
    padding-top: 10px;
    font-size: 15px;
    color: #2ccf42;
    display: block;
    margin-top: 10px;
}

.error-message-job {
    width: 100%;
    padding-top: 10px;
    font-size: 15px;
    color: red;
    display: block;
    margin-top: 10px;
}

@media (max-width: 768px) {
    .create-job-container {
        max-width: 100%;
        padding: 15px;
    }
}
