@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,500;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jersey+25&family=Open+Sans:ital,wght@0,500;1,500&display=swap');

div.usersListsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

    div.usersListsContainer div.usersList {
        display: grid;
        margin-top: 100px;
        margin-bottom: 100px;
        padding: 20px 10px;
        font-family: Open Sans, sans-serif;
        box-shadow: 0px 8.369px 22.825px 0px rgba(0, 0, 0, 0.07);
        border-radius: 16px;
        min-width: 600px;
        background-color: #fff;
    }

        div.usersListsContainer div.usersList h1 {
            margin: 10px;
        }

            div.usersListsContainer div.usersList h1 span.numOfUsers {
                font-size: 0.7em;
            }

.list {
    list-style-type: none; /* Remove default list style */
    padding: 0 30px; /* Remove default padding */
    margin: 0; /* Remove default margin */
}

.list-item {
    padding: 10px;
    border-bottom: 1px solid #eee; /* Optional: Add a divider between items */
}

    .list-item:last-child {
        border-bottom: none; /* Remove divider for the last item */
    }

.usersListsContainer::-webkit-scrollbar {
    width: 8px;
}

.usersListsContainer::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
}

    .usersListsContainer::-webkit-scrollbar-thumb:hover {
        background-color: #555;
    }
