@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,500;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jersey+25&family=Open+Sans:ital,wght@0,500;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,400&display=swap');

@import '../../../node_modules/primereact/resources/themes/saga-blue/theme.css';
@import '../../../node_modules/primereact/resources/primereact.min.css';
@import '../../../node_modules/primeicons/primeicons.css';

div.usersListsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

    div.usersListsContainer div.usersList {
        display: grid;
        margin-top: 100px;
        margin-bottom: 100px;
        padding: 20px 10px;
        padding-bottom:60px;
        font-family: Open Sans, sans-serif;
        box-shadow: 0px 8.369px 22.825px 0px rgba(0, 0, 0, 0.07);
        border-radius: 16px;
        min-width: 600px;
        background-color: #fff;
        font-family: 'Roboto', sans-serif;
    }

        div.usersListsContainer div.usersList h2 {
            margin: 10px;
        }

            div.usersListsContainer div.usersList h2 span.numOfUsers {
                font-size: 14px;
            }

.list {
    list-style-type: none; /* Remove default list style */
    padding: 0 30px; /* Remove default padding */
    margin: 0; /* Remove default margin */
    font-family: 'Roboto', sans-serif;
}

.list-item {
    padding: 10px;
    border-bottom: 1px solid #eee; /* Optional: Add a divider between items */
}

    .list-item:last-child {
        border-bottom: none; /* Remove divider for the last item */
    }

.usersListsContainer::-webkit-scrollbar {
    width: 8px;
}

.usersListsContainer::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
}

    .usersListsContainer::-webkit-scrollbar-thumb:hover {
        background-color: #555;
    }


p.error {
    font-size: 14px;
    color: red;
    display: flex;
    justify-content: center;
}

p.loading {
    font-size: 14px;
    color: deepskyblue;
    display: flex;
    justify-content: center;
}

.p-paginator {
    padding-top: 20px;
}


.custom-toolbar .p-toolbar {
    background-color: #f4f4f4; 
    border-bottom: 1px solid #ddd; 
    padding: 10px 20px; 
}

.custom-toolbar .p-toolbar-group-left {
    display: flex;
    align-items: center;
}

.custom-toolbar .p-toolbar-group-right {
    display: flex;
    align-items: center;
    margin-left: auto; 
}

.custom-toolbar .p-button {
    margin-right: 10px; 
}
