@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,500;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jersey+25&family=Open+Sans:ital,wght@0,500;1,500&display=swap');

form.WelcomePageLogInForm{
    display: inline-block;
    margin-left: 150px;
    margin-top: 180px;
    margin-bottom: 100px;
    padding: 40px 60px;
    font-family: Open Sans, sans-serif;
}

form.WelcomePageLogInForm div{
    display: grid;
    padding-top: 10px;

}

form.WelcomePageLogInForm h1{
    color: #C22D1F;
    font-size: 23px;
    margin-left: 25px;
    padding-bottom: 30px;
    font-synthesis: none;
}

form.WelcomePageLogInForm div label{
    font-size: 15px;
    color: #1fb4c2;
}

form.WelcomePageLogInForm div input{
    padding: 8px 8px 8px 8px;
    max-width: 250px;
    font-size: 14px;
}

form.WelcomePageLogInForm button{
    font-size: 16px;
    margin-top: 30px;
    margin-left: 50px;
    padding: 12px 50px 12px 50px;
    border: 2px solid #18a4b1;
    background-color: whitesmoke;
    color: #1fb4c2;
    border-radius: 10%;
    letter-spacing: 2px;
    border-radius: 24px;
    transition: background-color 0.3s;
    display: inline-flex;
}

form.WelcomePageLogInForm button:hover{
    background-color: #1fb4c2;
    border-color: #1fb4c2;
    color: white;
}

form.WelcomePageLogInForm button.forgot{
    font-size: 14px;
    margin-top: 10px;
    margin-left: 0px;
    border: none;
    background-color: whitesmoke;
    color: #1fb4c2;
    letter-spacing: 1px;
    padding: 0%;
}

form.WelcomePageLogInForm button.forgot:hover{
    color: #0a6c75;
}

form.WelcomePageLogInForm div.success-message{
    font-size: 12px;
    color: rgb(44, 207, 66);
    display: block;
    /* visibility: hidden; */
}

form.WelcomePageLogInForm div.error-message{
    font-size: 12px;
    color: red;
    display: block;
    /* visibility: hidden; */
}