.new-post-container {
    background-color: #fff;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

    .new-post-container .new-post {
        margin-bottom: 10px;
    }

        .new-post-container .new-post .p-inputtext {
            width: 85%;
            padding: 5px 20px 5px 20px;
            margin-bottom: 10px;
            font-size: 15px;
        }

            .new-post-container .new-post .p-inputtext:enabled:hover {
                border-color: #1fb4c2;
            }

        .new-post-container .new-post .post-textarea {
            width: 100%;
            padding: 5px 10px 5px 10px;
            margin: 10px 0;
            font-size: 14px;
        }


    .new-post-container .post-textarea {
        width: 100%;
        height: 80px;
        padding: 10px;
        font-size: 16px;
        border: 1px solid #ddd;
        border-radius: 8px;
        resize: none;
    }

    .new-post-container .post-options {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .new-post-container .new-post-btn, .share-media {
        border: none;
        background-color: #1fb4c2;
        color: white;
        cursor: pointer;
        padding: 8px 16px;
        font-size: 16px;
        border-radius: 6px;
        transition: background-color 0.3s ease;
    }

        .new-post-container .new-post-btn:hover, .share-media:hover {
            background-color: #148f9a;
        }

    .new-post-container .share-media {
        background-color: #f3f3f3;
        color: #1fb4c2;
    }

    .new-post-container .uploaded-files-info {
        font-size: 14px;
    }


    .new-post-container .public-private-toggle {
        display: flex;
        align-items: center;
        margin-top: 20px;
        font-size: 16px;
    }

        .new-post-container .public-private-toggle label {
            margin-right: 10px;
            font-weight: bold;
        }

    .new-post-container .p-inputswitch {
        margin-left: 10px;
    }

        .new-post-container .p-inputswitch.p-inputswitch-checked .p-inputswitch-slider {
            background-color: #28a745;
        }

    .new-post-container span {
        padding-left: 5px;
    }

.p-inputswitch.p-highlight .p-inputswitch-slider {
    background: #148f9a;
}