.new-post-container {
    background-color: #fff;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.new-post {
    margin-bottom: 10px;
}

    .new-post .p-inputtext {
        width: 85%;
        padding: 5px 20px 5px 20px;
        margin-bottom: 10px;
        font-size: 15px;
    }

        .new-post .p-inputtext:enabled:hover {
            border-color: #1fb4c2;
        }

    .new-post .post-textarea {
        width: 100%;
        padding: 5px 10px 5px 10px;
        margin: 10px 0;
        font-size: 14px;
    }


.post-textarea {
    width: 100%;
    height: 80px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 8px;
    resize: none;
}

.post-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.new-post-btn, .share-media {
    border: none;
    background-color: #1fb4c2;
    color: white;
    cursor: pointer;
    padding: 8px 16px;
    font-size: 16px;
    border-radius: 6px;
    transition: background-color 0.3s ease;
}

    .new-post-btn:hover, .share-media:hover {
        background-color: #148f9a;
    }

.share-media {
    background-color: #f3f3f3;
    color: #1fb4c2;
}

.uploaded-files-info {
    font-size: 14px;
}