@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,500;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jersey+25&family=Open+Sans:ital,wght@0,500;1,500&display=swap');

div.glass-container-SignUpForm p.phrase {
    justify-content: center;
    color: #000000;
    font-size: 20px;
    margin-top: 100px;
    padding-bottom: 5px;
    display: flex;
    justify-content: center;
}

div.glass-container-SignUpForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

    div.glass-container-SignUpForm form.SignUpForm {
        display: grid;
        margin-top: 20px;
        margin-bottom: 100px;
        padding: 60px 60px;
        font-family: Open Sans, sans-serif;
        box-shadow: 0px 8.369px 22.825px 0px rgba(0, 0, 0, 0.07);
        border-radius: 16px;
        min-width: 600px;
        background-color: #fff;
    }

        div.glass-container-SignUpForm form.SignUpForm div.firstline {
            display: flex;
            justify-content: center;
        }

            div.glass-container-SignUpForm form.SignUpForm div.firstline div.rowOne {
                display: grid;
                padding-top: 30px;
                border-right: 2px solid #18a4b1;
            }

                div.glass-container-SignUpForm form.SignUpForm div.firstline div.rowOne input {
                    height: 23px;
                }


            div.glass-container-SignUpForm form.SignUpForm div.firstline div {
                display: grid;
                padding-top: 10px;
                margin: 10px 0px;
                padding: 5px 40px;
            }

            div.glass-container-SignUpForm form.SignUpForm div.firstline label {
                font-size: 15px;
                color: #1fb4c2;
            }

            div.glass-container-SignUpForm form.SignUpForm div.firstline input {
                max-width: 250px;
                font-size: 14px;
                margin-bottom: 5px;
                padding: 0px;
            }

            div.glass-container-SignUpForm form.SignUpForm div.firstline div.rowTwo input {
                height: 22px;
            }

        div.glass-container-SignUpForm form.SignUpForm div.down-buttons {
            display: grid;
            place-items: center;
        }

            div.glass-container-SignUpForm form.SignUpForm div.down-buttons button.togglePassword {
                width: 38px;
                height: 33px;
                margin-bottom: 5px;
                border: 1px solid #18a4b1;
                background-color: whitesmoke;
                border-radius: 10%;
                border-radius: 24px;
                transition: background-color 0.3s;
            }

            div.glass-container-SignUpForm form.SignUpForm div.down-buttons div label {
                font-size:15px;
            }

                div.glass-container-SignUpForm form.SignUpForm div.down-buttons button.create {
                    font-size: 16px;
                    margin-top: 30px;
                    padding: 12px 50px 12px 50px;
                    border: 2px solid #18a4b1;
                    background-color: whitesmoke;
                    color: #1fb4c2;
                    border-radius: 10%;
                    letter-spacing: 2px;
                    border-radius: 24px;
                    transition: background-color 0.3s;
                    display: inline-flex;
                }

                    div.glass-container-SignUpForm form.SignUpForm div.down-buttons button.create:hover {
                        background-color: #1fb4c2;
                        border-color: #1fb4c2;
                        color: white;
                    }

            div.glass-container-SignUpForm form.SignUpForm div.down-buttons div.success-message {
                font-size: 12px;
                color: rgb(44, 207, 66);
                display: block;
            }

            div.glass-container-SignUpForm form.SignUpForm div.down-buttons div.error-message {
                font-size: 12px;
                color: red;
                display: block;
            }
